@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
   <div class="bigass">
                    <h1 class="bbigass"><i class="fa fa-arrow-down" aria-hidden="true"></i>@CurrentPage.textBetweenArrow<i class="fa fa-arrow-down" aria-hidden="true"></i></h1>
                    <h2>@CurrentPage.h2FirstRow</h2>
                    <h2>@CurrentPage.h22thRow</h2>
                    <h2>@CurrentPage.h23thRow</h2>
                </div>
               <form method="POST" action="http://formspree.io/chygman@hotmail.com">
                    <input type="email" name="email" placeholder="Your email">
                    <input type="email" name="email" placeholder="Your email">
                    <textarea name="message" placeholder="Your message"></textarea>
                    <button type="submit" class="bbutton">Send</button>
                </form>